* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    min-width: 360px;
}



nav {
    background-color: orange;
    position: relative;

}


.burger-container {
    border: solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    min-height: 5rem;
}
.mobile-logo {
    display: block;
    max-width: 3rem;
}


.navigation-ul {
    position: absolute;
    z-index: 1;
    background-color: orangered;
    right: 0;
    left: 0; 
    padding: 0 1rem;
    list-style-type: none;
}

.navigation-ul li {
    margin: 1rem 0;
}

.app {
    background-image: url('../../Media/background.png');
    min-height:100vh;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-cta {
    background-color: red;
    border: none;
    padding: 1rem;
    color: rgb(241, 237, 228);
}

.cart {
    max-width: 5rem;
    align-items: center;
    margin-top: 1rem;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 90vh;
    
}

.motion-text {
    color: white;
    font-size: 2rem;
    /* padding-top: 10rem; */
}

.logo {
    display: none;
}

.intro-par {
    color: white;
    text-wrap: wrap;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}